{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for msg in messages %}
{{ msg }}
{% endfor %}
<div style="background-color: rgb(60, 60, 60); border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 50px; max-width: 800px; margin: 40px auto;">
    <h1 style="text-align: center; color: white;margin-bottom:40px;"><u>ADD MOVIE</u></h1>
        <form action="" method="POST" enctype="multipart/form-data" style="display: flex; flex-direction : column;color:white;gap:10px;">

    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" style="display: block; width: 100%; padding: 10px; background-color: #009966; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;">
                      ADD </button>
        <a href="{% url cancel_url %}" class="btn btn-secondary" style="margin-left:600px;width:100px;">BACK</a>


</form>
</div>


{% endblock %}